@using Microsoft.AspNetCore.Components.Routing

<nav class="nav">
  <div class="section-title">Navigation</div>

  <NavLink href="/" Match="NavLinkMatch.All">Accueil</NavLink>
  <NavLink href="/cellar">Bouteilles</NavLink>
  <NavLink href="/import">Import Excel (cave)</NavLink>
  <NavLink href="/transfer">Transfert</NavLink>
  <NavLink href="/suppliers">Fournisseurs</NavLink>
  <NavLink href="/orders">Commandes (groupées)</NavLink>
</nav>
