<nav class="nav">
    <div class="nav-section-title">Navigation</div>

    <NavLink class="nav-link" ActiveClass="nav-link-active" href="/dashboard" Match="NavLinkMatch.All">
        Dashboard
    </NavLink>

    <NavLink class="nav-link" ActiveClass="nav-link-active" href="/search">
        Recherche
    </NavLink>

    <NavLink class="nav-link" ActiveClass="nav-link-active" href="/cellar">
        Cave
    </NavLink>

    <NavLink class="nav-link" ActiveClass="nav-link-active" href="/cellar/new">
        Ajouter
    </NavLink>

    <div class="nav-section-title mt-4">Gestion</div>

    <NavLink class="nav-link" ActiveClass="nav-link-active" href="/transfer">
        Transferts
    </NavLink>

    <NavLink class="nav-link" ActiveClass="nav-link-active" href="/orders">
        Commandes
    </NavLink>

    <NavLink class="nav-link" ActiveClass="nav-link-active" href="/suppliers">
        Fournisseurs
    </NavLink>
</nav>
